pkgbase = grm-git
	pkgdesc = redis可视化工具（gin+element-plus）【部署简单便捷，SSH连接，用户校验，操作日志、命令行模式、LUA脚本执行、Redis监控等】
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/gphper/grm
	arch = x86_64
	license = Apache
	makedepends = gcc-objc
	makedepends = go
	provides = grm
	source = v0.1.3.tar.gz::https://github.com/gphper/grm/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = 7dd4191954dbb6a7160e1dd8c9b5826f3b9118627945fc62fb0267c535db0954

pkgname = grm-git
