pkgbase = grm-git
	pkgdesc = redis可视化工具（gin+element-plus）【部署简单便捷，SSH连接，用户校验，操作日志、命令行模式、LUA脚本执行、Redis监控等】
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/gphper/grm
	arch = x86_64
	license = Apache
	makedepends = go
	source = src/grm::git+https://github.com/gphper/grm.git
	sha256sums = SKIP

pkgname = grm-git
